<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .quodrant{
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.qtop,
.qbottom{
    width: 96%;
    height: 46vh;
}

.quodrant1,
.quodrant2,
.quodrant3,
.quodrant4,
.quadrant5{
    display: inline;
    float: left;
    width: 46%;
    height: 96%;
    border-radius: 30px;
    margin: 2%;
}

.quodrant1{
    background-color: #948be5;
}

.quodrant2{
    background-color: #22e235;
}

.quodrant3{
    background-color: #086e75;
}

.quodrant4{ 
    background-color: #7cf5f9;
}
.quadrant5{
    background-color:#f8b90b; 
}
#container{
    left:100px
}
body{
    background-color: antiquewhite;
}


    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

    <script>
        var text  = [ "continue to be happy", "always smile", "nice smile", "continue being awsome", "Smile more" ];
        var index = 0;
        $("#description").fadeTo( 1,0 );
        setInterval( function(){
            $( "#description" ).stop().html(text[ index ]).fadeTo( 500, 1, function(){
                index++;
                $("#description").delay( 1000 ).fadeTo( 500, 0 );
                if(index == 10 ) {
                    index = 0;
                };
            } );
        }, 1800 );

        var SAD  = [ "better days will come", "dont give up", "keep your head up", "continue being awsome", "look to the future" ];
        var index = 0;
        $("#SAD").fadeTo( 1, 0 );
        setInterval( function(){
            $("#SAD").stop().html(SAD[ index ]).fadeTo( 500, 1, function(){
                index++;
                $( "#SAD" ).delay( 600 ).fadeTo( 500, 0 );
                if ( index == 10 ) {
                    index = 0;
                };
            } );
        }, 1800 );

        var OVERWHELMED= [ "take your time", "write down how you feel", "take a break", "relax", "You got this" ];
        var index = 0;
        $("#OVERWHELMED").fadeTo( 1,0 );
        setInterval( function(){
            $( "#OVERWHELMED" ).stop().html(OVERWHELMED[ index ]).fadeTo( 500, 1, function(){
                index++;
                $("#OVERWHELMED").delay( 1000 ).fadeTo( 500, 0 );
                if(index == 10 ) {
                    index = 0;
                };
            } );
        }, 1800 );

        var ANGRY= [ "take a breather", "think about the situation", "talk it out", "explain your frustration to another person", "count to 10" ];
        var index = 0;
        $("#ANGRY").fadeTo( 1,0 );
        setInterval( function(){
            $( "#ANGRY" ).stop().html(ANGRY[ index ]).fadeTo( 500, 1, function(){
                index++;
                $("#ANGRY").delay( 1000 ).fadeTo( 500, 0 );
                if(index == 10 ) {
                    index = 0;
                };
            } );
        }, 1800 );

        var FEAR= [ "believe in yourself", "think about the situation", "find confidence", "dont be afraid of anything", "take the chance" ];
        var index = 0;
        $("#FEAR").fadeTo( 1,0 );
        setInterval( function(){
            $( "#FEAR" ).stop().html(FEAR[ index ]).fadeTo( 500, 1, function(){
                index++;
                $("#FEAR").delay( 1000 ).fadeTo( 500, 0 );
                if(index == 10 ) {
                    index = 0;
                };
            } );
        }, 1800 );
    </script>
</head>    
<body>
    <h1>If you are feeling:</h1>
    <script src="{{url_for('static', filename='main.js')}}">sefh</script>
   <link rel = "stylesheet" type="text/css" href ="{{url_for('static',filename ='main.css')}}
    
</div>
    <p style="font-size:48px">
      
      <div class='quodrant'>
        
        <div class ="container">
            <p style= "position: absolute; left: 5%; top: 50%;"id="description">Emotion1></p>
            <!--this is the href link it is functional but it needs to be positioned pla do that-->
            <a class="link" style = "position: absolute; left: 20%; top: 50%;"href="http://127.0.0.1:5000/happy">Click me</a> 

        <div class ="container">
             <p style= "position: absolute; left: 5%; top: 100%;"id="SAD">Emotion2</p>
            <a class="link" style = "position: absolute; left: 20%; top: 100%;"href="http://127.0.0.1:5000/sad">Click me</a> 
        
            <div class ="container">
                <p style= "position: absolute; left: 55%; top:50%;"id="OVERWHELMED">Emotion3</p>
                <a class="link" style = "position: absolute; left: 65%; top: 50%;"href="http://127.0.0.1:5000/overwhelmed">Click me</a> 

         <div class ="container">
                    <p style= "position: absolute; left: 55%; top: 100%;"id="FEAR">Emotion4</p>
                    <a class="link" style = "position: absolute; left: 65%; top: 100%;"href="http://127.0.0.1:5000/fear">Click me</a> 

        
        
            <div class='qtop'>
            
            <div class='quodrant1'><p style="font-size:40px">&#128516;
            <a href="happy.html"></a>
            
            </div>
            
            
            <div class='quodrant2'><p style="font-size:40px">&#128557;</div>
            <a href="angry.html"></a>
        </div>
     

        <div class='qbottom'>
            <div class='quodrant3'><p style="font-size:40px">&#128560;</div>

            <div class='quodrant4'><p style="font-size:40px">&#128565;</div>
        </div>
    </div>

    <div class='qbottom'>
        <div class='quodrant3'><p style="font-size:40px">&#128545;</div>
            <p style= "position: absolute; left: 5%; top: 150%;"id="ANGRY">Emotion5</p>

            <a class="link" style = "position: absolute; left: 20%; top: 150%;"href="http://127.0.0.1:5000/angry">Click me</a> 

        
    </div>
</div>
    
    <script type="text/javascript" src="main.js"></script>
    </body>
    </html>
</p>
</body>
</html>