<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>repl.it</title>
    <link href="style.css" rel="stylesheet" type="text/css" />
  </head>
  <style>
    body{
      background-color: rgb(240,128,128);
    }
  </style>
  <body>
    <p>Everyone's definition of happiness is different. Maybe it's being at ease with who you are for you. Or having a safe group of pals who accept you no matter what. Or the ability to follow your deepest desires.</p>
    <p>Regardless of your definition of ultimate happiness, you may live a happier, more fulfilled life. A few changes to your daily routine will help you get there.</p>
    
    <p>Habits are important. If you've ever tried to break a terrible habit, you know how difficult it can be.</p>
    
    <p>Good behaviors, too, are profoundly ingrained. Why not make positive habits a part of your daily routine?</p>
    
    <p>Here are some daily, monthly, and yearly habits to get you started on your journey. Just keep in mind that everyone's definition of happiness is unique, as is their road to reaching it.</p>
    
    <p>If any of these behaviors add to your stress or don't match your lifestyle, get rid of them. With a little time and effort, you'll be able to find out what works and what doesn't.</p>
    
    <h1>Daily habits</h1>
    <h2>1.Smile</h2>
    <p>When you're happy, you're more likely to smile. It is, however, a two-way street.</p>
    
    <p>We smile because we're happy, and smiling triggers the release of dopamine in the brain, which makes us feel better.</p>
    
    <p>That doesn't mean you have to plaster a phony smile on your face all of the time. However, the next time you're feeling down, try smiling and see what happens. Alternatively, try smiling at yourself in the mirror first thing in the morning.</p>

    <h2>2. Exercise</h2>
    <p>Exercise is beneficial to your mind as much as your body. Regular exercise can assist to reduce stress, anxiety, and depression symptoms while also increasing self-esteem and enjoyment.</p>
    <p>A tiny bit of physical activity can make a significant difference. You don't have to train for a triathlon or scale a cliff to be happy - unless that's your thing..</p>
    <p>The key is to avoid overexertion. You're more likely to become frustrated if you immediately start a tough routine (and sore).</p>
    <p>Consider these exercise starters:</p>
    <ul>
      <li>Take a walk around the block every night after dinner.</li>
      <li>Sign up for a beginner’s class in yoga or tai chi.</li>
      <li>Start your day with 5 minutes of stretching. Here’s a set of stretches to get you started.</li>
    </ul>
    <p>Remind yourself of any pleasant activities you used to enjoy but have since abandoned. Or pastimes like golf, bowling, or dance that you've always wanted to try.</p>

    <h2>3. Get plenty of sleep</h2>
    <p>Regardless of how much modern culture encourages us to sleep less, we all know how important it is to get enough sleep. Healthy living, cognitive function, and emotional well-being from a trusted source.</p>
    <p>Every night, most individuals require 7 to 8 hours of sleep. If you're fighting the need to nap during the day or just feel tired, it's possible that your body is signaling you that you need more sleep.</p>
    <p>Here are a few tips to help you build a better sleep routine:</p>
    <ul>
      <li>Write down how many hours of sleep you get each night and how rested you feel. After a week, you should have a better idea how you’re doing.</li>
      <li>Go to bed and wake up at the same time every day, including weekends.</li>
      <li>Reserve the hour before bed as quiet time. Take a bath, read, or do something relaxing. Avoid heavy eating and drinking.</li>
      <li>Keep your bedroom dark, cool, and quiet.</li>
      <li>Invest in some good bedding.</li>
      <li>If you have to take a nap, try to limit it to 20 minutes.</li>
    </ul>
    <p>If you consistently have problems sleeping, talk to your doctor. You may have a sleep disorder requiring treatment.</p>
  </body>
</html>