<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>repl.it</title>
    <link href="style.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <script src="script.js"></script>
    <p>Whatever it is that scares you, here are 10 ways to help you cope with your day-to-day fears and anxieties.</p>
    <p>These tips are for people who are coping with everyday fears. If you have been diagnosed with an anxiety-related condition, see our page on generalised anxiety disorder.</p>
    <h1>1. Take time out</h1>
    <p>It's impossible to think clearly when you're flooded with fear or anxiety. The first thing to do is take time out so you can physically calm down.</p>
    <p>Distract yourself from the worry for 15 minutes by walking around the block, making a cup of tea or having a bath.</p>
    <h1>2. Breathe through panic</h1>
    <p>If you start to get a faster heartbeat or sweating palms, the best thing is not to fight it.</p>
    <p>Stay where you are and simply feel the panic without trying to distract yourself. Place the palm of your hand on your stomach and breathe slowly and deeply.</p>
    <p>The goal is to help the mind get used to coping with panic, which takes the fear of fear away.</p>
    <h1>3. Face your fears</h1>
    <p>Avoiding fears only makes them scarier. Whatever your fear, if you face it, it should start to fade. If you panic one day getting into a lift, for example, it's best to get back into a lift the next day.</p>
  </body>
</html>