<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>Happiness looks different for everyone. For you, maybe it’s being at peace with who you are. Or having a secure network of friends who accept you unconditionally. Or the freedom to pursue your deepest dreams.</p>
    <p>Regardless of your version of true happiness, living a happier,more satisfied life is within reach. A few tweaks to your regular habits can help you get there.</p>
    
    <p>Habits matter. If you’ve ever tried breaking a bad habit, you know all too well how engrained they are.</p>
    
    <p>Well, good habits are deeply engrained, too. Why not work on making positive habits part of your routine?</p>
    
    <p>Here’s a look at some daily, monthly, and yearly habits to help kickstart your quest. Just remember that everyone’s version of happiness is a little different, and so is their path to achieving it.</p>
    
    <p>If some of these habits create added stress or just don’t fit your lifestyle, ditch them. With a little time and practice, you’ll figure out what does and doesn’t work for you.</p>
    
    <h1>Daily habits</h1>
    <h2>1.Smile</h2>
    <p>You tend to smile when you’re happy. But it’s actually a two-way street.</p>
    
    <p>We smile because we’re happy, and smiling causes the brain to release dopamine, which makes us happier.</p>
    
    <p>That doesn’t mean you have to go around with a fake smile plastered on your face all the time. But the next time you find yourself feeling low, crack a smile and see what happens. Or try starting each morning by smiling at yourself in the mirror.</p>

    <h2>2. Exercise</h2>
    <p>Exercise isn’t just for your body. Regular exercise can help to reduce stress, feelings of anxiety, and symptoms of depression while boosting self-esteem and happiness.</p>
    <p>Even a small amount of physical activity can make a difference. You don’t have to train for a triathlon or scale a cliff — unless that’s what makes you happy, of course.</p>
    <p>The trick is not to overexert. If you suddenly throw yourself into a strenuous routine, you’ll probably just end up frustrated (and sore).</p>
    <p>Consider these exercise starters:</p>
    <ul>
      <li>Take a walk around the block every night after dinner.</li>
      <li>Sign up for a beginner’s class in yoga or tai chi.</li>
      <li>Start your day with 5 minutes of stretching. Here’s a set of stretches to get you started.</li>
    </ul>
    <p>Remind yourself of any fun activities you once enjoyed, but that have fallen by the wayside. Or activities you always wanted to try, such as golf, bowling, or dancing.</p>

    <h2>3. Get plenty of sleep</h2>
    <p>No matter how much modern society steers us toward less sleep, we know that adequate sleep is vitalTrusted Source to good health, brain function, and emotional well-being.</p>
    <p>Most adults need about 7 or 8 hours of sleep every night. If you find yourself fighting the urge to nap during the day or just generally feel like you’re in a fog, your body may be telling you it needs more rest.</p>
    <p>Here are a few tips to help you build a better sleep routine:</p>
    <ul>
      <li>Write down how many hours of sleep you get each night and how rested you feel. After a week, you should have a better idea how you’re doing.</li>
      <li>Go to bed and wake up at the same time every day, including weekends.</li>
      <li>Reserve the hour before bed as quiet time. Take a bath, read, or do something relaxing. Avoid heavy eating and drinking.</li>
      <li>Keep your bedroom dark, cool, and quiet.</li>
      <li>Invest in some good bedding.</li>
      <li>If you have to take a nap, try to limit it to 20 minutes.</li>
    </ul>
    <p>If you consistently have problems sleeping, talk to your doctor. You may have a sleep disorder requiring treatment.</p>
    
</body>
</html>