<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>repl.it</title>
    <link href="style.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <script src="script.js"></script>
    <p>We're all prone to feeling overwhelmed at times. The key is to discover a means to quickly reset so that you can recuperate and go back to work. Here are some of the most effective strategies for achieving that goal.</p>
    <h1>1. Take an emotional time out.</h1>
    <p>Read a book that is completely unrelated to your work. If you can afford it, see a movie.</p>
    <p>The objective is to get away from your issues for an hour or two—physically if feasible. You'll be reminded that there's a big world out there, and you'll be able to regain some perspective.</p>
    <h1>2. Exercise.</h1>
    <p>Here's the same concept, but with a physical component. Get to the gym. Go for a swim or a run. Attend a spinning class. Working out in the middle of the day, whatever you do for exercise, can help you to separate the rough morning from the remainder of the afternoon.</p>
    <p>Make yourself move a bit, and once more, physically and emotionally separate yourself from your worries.</p>

    <h1>3. Take a physical time out.</h1>
    <p>Make yourself move a bit, and once more, physically and emotionally separate yourself from your worries.</p>

    <h1>4. Breathe deeply.</h1>
    <p>This is a far more efficient and practical solution. Simply take 120 seconds to breathe deeply in and out—maybe six or seven breaths each minute. Everything will appear to be a little bit better towards the end.</p>

    <h1>5. Be mindfully thankful.</h1>
    <p>You have a lot to be thankful for if you're reading this. You're alive in the United States of America or another wonderful country. You're utilizing a device that allows you to connect to virtually all of the world's knowledge for free. Hopefully, you have people in your life who care about you—I'm sure you have, even if you don't realize it. </p>
    <p>What's more, guess what? Things are fairly nice, no matter how bad they may appear at any one time. Take a moment to pause, think, and reset.</p>
    <h1>6. Pray or meditate.</h1>
    <p>Of course, this is related to No. 5. I could write a book about my own faith journey (maybe I will someday). Let's just say that a Jesuit church called St. Francis Xavier is a few blocks from my workplace and has came in handy on a few occasions. Spend a few minutes doing whatever method you choose to connect with a higher power.</p>

    <h1>7. Phone a friend.</h1>
    <p>Griff, a college acquaintance, is one of my closest buddies. He lives a few hundred miles away, our children were born more than a decade apart, we work in completely different fields, and he's a fantastic golfer while I can hardly swing a club.</p>
    <p>To put it another way, it's fantastic. Sometimes all you need is a chance to converse with someone you care about about something completely unrelated to the current drama in your life.</p>

    <h1>8. Procrastinate.</h1>
    <p>I know that almost every other article will advise you to get started right away—but I know I read somewhere that this isn't always the case. I've now written or ghostwritten about 20 novels, and I can't tell you how many times I've worked my way through a writing issue by simply ignoring it for a bit.</p>
    <p>When you ignore problems for a while, it's surprising how your subconscious can solve them for you.</p>
    
    <h1>9. Delegate.</h1>
    <p>Is it necessary for you to accomplish everything yourself? Don't do it if the answer is no. Distribute the burden. Don't forget that delegating does not require you to be the boss. You can frequently enlist the assistance of coworkers and friends. They'll give you the opportunity to repay the favor at some point.</p>

    <h1>10. Talk things over with your significant other.</h1>
    <p>I make an effort not to bore my wife with every minor issue that arises at work. She is, however, an excellent sounding board and, in many ways, is wiser than I am. Things become less stressful after a few minutes of talking with her.</p>

    <h1>11. Write stuff down.</h1>
    <p>Things can sometimes be made more bearable simply by writing them down. During the invasion of Iraq, a senior military man I knew kept a notebook. He only had time to write one haiku a day since he was so scared and agitated, but it helped him keep his head on straight.</p>
    







  </body>
</html>