<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>repl.it</title>
    <link href="style.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <script src="script.js"></script>
    <p>It might appear out of nowhere, with no rhyme or reason, or it can occur after a heartbreaking breakup, the death of a loved one, or any other extremely trying period. It can creep up on you slowly, like black clouds before a storm, or it might strike you suddenly and without warning. Sadness, in whatever form it takes, is something we all experience—and yet it can be tremendously difficult to overcome.</p>

    <p>But here's the thing: you can learn to be happy again. While some tried-and-true remedies require you to dig deep, others, like spending more time outside, watching a show that's nearly certain to make you laugh, and, yes, weeping your eyes out, are incredibly simple ways to beat the blues. (No, not lounging on the couch all day with a pint of Chunky Monkey in one hand and your favorite glass in the other.)</p>

    <p>Psychologists and mental health specialists offer their best advice on how to stop feeling sad, no matter what your triggers are.</p>

    <h1>First, don’t feel bad about feeling sad.</h1>

    <p>When something unpleasant occurs in your life, it can feel as if your world is collapsing around you. However, rather than hiding or disregarding your feelings by distracting yourself or putting on a brave face, you should accept them. “All emotions are important to experience and have valuable information for us about our lives,” says Dr. Lori Rockmore, Psy.D. In fact, a 2017 study published in the Journal of Personality and Social Psychology concluded “individuals who accept rather than judge their mental experiences may attain better psychological health, in part because acceptance helps them experience less negative emotion in response to stressors.”</p>

    <p>Instead of berating yourself for feeling low, Briana Borten, CEO of the health company Dragontree, suggests looking at it as an opportunity to learn, grow, and discover true healing.</p>

    <h1>Can't pinpoint why you're sad? Try writing.</h1>

    <p>It's not always easy to define why you're sad, such as if you can't get over your ex, if you blew it at your important work presentation, or if you had a significant dispute with your partner. However, you may be unhappy for no apparent cause at other times.If this is the case, Sunny Joy McMillan, a life coach, recommends picking up a pen and a piece of paper and “writing without stopping for five minutes or longer.” Not only may you discover what's causing your sadness organically, but the act of writing itself may help you begin to feel better, according to multiple studies.Alternatively, you could also try keeping a journal, taking a yoga class, or meditating―all of which are great ways to focus on your inner self.</p>

    <h1>Embrace your emotions.</h1>

    <p>As we previously stated, avoiding melancholy totally is actually more harmful than beneficial. Life coach and author Nancy Levin says, "You can't repair what you don't experience."</p>

    <p>Recognizing and embracing your melancholy, as uncomfortable as it may be, is the first step toward feeling better. "Rather than running away, eating, drinking, or yelling at someone, breathe it in," Pema Chödrön, a Tibetan Buddhist nun and author, told Oprah on an episode of Super Soul Sunday. "No matter how bad it feels, you just give it more space. When you breathe in, you open to it."</p>

    <h1>To release sad emotions, don't overlook the value in a good cry.</h1>
    <p>You may also try "crashing," which is something Levin does when she's upset. “I put on music, movies, or things that I know will help me cry and let go,” she explains. (Are you looking for some suggestions? Sam Smith's "Stay With Me" and Coldplay's "Fix You" are also excellent choices for a cathartic cry, in our opinion.)</p>

    <p>Levin is on to something, despite the fact that it may appear counterintuitive. "Emotional sobbing is unique to humans," says Dr. Matt Bellace, PhD, a psychologist and self-help author. To avoid getting too technical, Bellace claims that a biochemical examination of tears revealed the presence of an endorphin called leucine-enkephalin, which is known to alleviate pain and boost mood. Crying is also linked to the activation of the parasympathetic nerve system, which generates a relaxation response, according to a study published in Frontiers in Psychology, suggesting that it may have a self-soothing effect on people. Equally crucial:The same study found that "criers most likely report mood improvement if they receive comfort from others," so it may be helpful to let it out in front of a close friend or family member.</p>
    
  </body>
  </html>