<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>It can come out of nowhere, with no rhyme or reason, or it can follow a crushing breakup, the loss of someone special, or any other particularly tough time. It can slowly roll in, like the dark clouds before a storm, or it can hit you suddenly, without any warning. Whatever form it comes in, sadness is something we all experience—and yet it can still be incredibly difficult to get past.</p>

    <p>But here's the thing: You can learn how to stop being sad. While some tried-and-true methods require you to dig deep, other ways to beat the blues are incredibly simple, like spending more time outside, watching a show that's practically guaranteed to make you laugh, and, yes, crying your eyes out. (No, spending all day on the couch, with a pint of Chunky Monkey in one hand and your favorite glass of red in the other is not a scientifically-proven technique for letting go of sadness, unfortunately.) One thing to note: If you're still feeling upset after a period of two weeks and if you notice any other symptoms—like loss of energy, trouble concentrating, or difficulty sleeping—you should reach out to a professional for help.</p>

    <p>Ahead, psychologists and mental health experts share their top tips for how to stop feeling sad, regardless of your triggers.</p>

    <h1>First, don’t feel bad about feeling sad.</h1>

    <p>When something negative happens in your life, it can seem like your world is ending. But instead of suppressing or dismissing your emotions—either by distracting yourself or keeping up a good front—you should actually embrace them. “All emotions are important to experience and have valuable information for us about our lives,” says Dr. Lori Rockmore, Psy.D. In fact, a 2017 study published in the Journal of Personality and Social Psychology concluded “individuals who accept rather than judge their mental experiences may attain better psychological health, in part because acceptance helps them experience less negative emotion in response to stressors.”</p>

    <p>Instead of beating yourself up for feeling down, try to consider this as an opportunity to learn, grow, and find true healing, says Briana Borten, CEO of the wellness organization Dragontree.</p>

    <h1>Can't pinpoint why you're sad? Try writing.</h1>

    <p>Sometimes it's easy to pinpoint the reason you feel upset―say, if you just can't get over your ex, you bombed your big work presentation, or you had a major fight with your partner. But, at other times, you may be sad for no discernible reason. When this is the case, grab a pen and a piece of paper and “write without stopping for five minutes or longer,” suggests life coach Sunny Joy McMillan. Not only may you naturally uncover what's causing your sadness, but just the act of writing may help you start to feel better, something that's backed by numerous studies. Alternatively, you could also try keeping a journal, taking a yoga class, or meditating―all of which are great ways to focus on your inner self.</p>

    <h1>Embrace your emotions.</h1>

    <p>As we mentioned earlier, when you avoid sadness altogether, you’re actually doing more harm than good. “You can’t heal what you don’t feel,” says life coach and author Nancy Levin.</p>

    <p>As uncomfortable as it may be, acknowledging and embracing your sadness is actually the first step to feeling better. "Instead of running away or eating something, drinking something, or yelling at someone, breathe it in," Tibetan Buddhist nun and author Pema Chödrön told Oprah during an episode of Super Soul Sunday. "No matter how bad it feels, you just give it more space. When you breathe in, you open to it."</p>

    <h1>To release sad emotions, don't overlook the value in a good cry.</h1>
    <p>Alternatively, you could also try "crashing," which is something Levin does when she's sad. “I put on music or movies or shows that I know will help me cry and have a release,” she says. (Need some recommendations? In our experience, Sam Smith's "Stay With Me" or Coldplay's "Fix You" are both great options for a cathartic cry.)</p>

    <p>While it may seem counter-intuitive, Levin is actually on to something. "Only humans exhibit emotional crying," says Dr. Matt Bellace, PhD, psychologist, and self-help author. And not to get too science-y but Bellace says a biochemical analysis of tears found that the droplets contain an endorphin named leucine-enkephalin, which is known to reduce pain and improve mood. Plus, according to a study published in Frontiers in Psychology, crying is associated with the activation of the parasympathetic nervous system―which stimulates a relaxation response―meaning it may have a self-soothing effect on people. Equally important: The same study found that "criers most likely report mood improvement if they receive comfort from others," so it may be helpful to let it out in front of a close friend or family member.</p>
    
    
</body>
</html>